.sosmed {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 230px;
}

.icon {
    font-size: 30px;
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
}

.icon:hover {
    color: gray;
}

#auto-typed {
    color: greenyellow ;
}