header {
  height: 10vh;
}

body {
  background-color: #333;
  height: 90vh;
}

.logo{
  filter: drop-shadow(2px 3px 5px #646464);
  -webkit-filter: drop-shadow(2px 3px 5px #646464);
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.logo:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: drop-shadow(0 0 0 #646464);
  -webkit-filter: drop-shadow(0 0 0 #646464);
}

.animasi-text {
  display: flex;
  color: white;
  margin-top: 20px;
  justify-content: center;
}

.animated-text {
  font-weight: 500;
  font-size: 20px;
  min-width: 280px;
  margin-right: 3em;
}

.animasi-text span {
  position: absolute;
  margin-left: 10px;
}

.animated-text span::before {
  content: "Manusia";
  color: rgba(255, 58, 58, 0.795);
  animation: kata 20s infinite;
  -webkit-animation: kata 20s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 80%;
  background-color: #333;
  border-left: 2px solid rgba(255, 58, 58, 0.795);
  right: -5px;
  animation: cursor 0.8s infinite;
  -webkit-animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

.sosmed {
  height: 65%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: end;
}

.sosmed li {
  list-style-type: none;
  display: inline;
  margin: 0 20px 0 20px;
}

.sosmed i {
  font-size: 30px;
  color: white;
  transition: all ease-in .1s;
  -webkit-transition: all ease-in .1s;
  -moz-transition: all ease-in .1s;
  -ms-transition: all ease-in .1s;
  -o-transition: all ease-in .1s;
}

.sosmed i:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@keyframes cursor {
  to {
    border-left: 2px solid #333;
  }
}

@keyframes kata {
  0%,
  20% {
    content: "Manusia";
  }
  21%,
  40% {
    content: "Anu";
  }
  41%,
  60% {
    content: "Manusia";
  }
  61%,
  80% {
    content: "Anu";
  }
  81%,
  100% {
    content: "Manusia";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
